
<div class="container mb-3">
    <h1 class="mb-5">Users</h1>
    <% users.forEach(user =>{ %>
        <div class="d-flex align-items-center">
            <img src="data:<%=user.picture_type%>;base64,<%=user.picture.toString('base64')%>" alt="" width="50" height="50" class="me-4 rounded-circle me-2">
             <a class="text-dark" href="/users/display/<%=user._id%>"><h3 class="d-inline-block"><%= user.username %></h3></a>
        </div>
        
        <hr>
    <% }) %>
    
</div>
 