<style>
.center {
  height: calc(100vh - 56px);
  width: 100vw;
  background-color: #eee;
}

.inner-center {
  position: relative;
  top: 40%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
</style>


<div class="center">
    <div class="inner-center text-center">
      <h2>Welcome to the First Armenian Social Media Platform</h2>
      <h3 class="mb-4">This is a Test Project</h3>
      <% if(isLogged){%>
      
        <a href="/user/home" class="btn btn-outline-secondary btn-lg rounded-pill"> Home </a>

        <%} else {%>
            <a href="/user/register" class="btn btn-outline-secondary btn-lg rounded-pill"> Register </a>
            <% } %>
    </div>
  </div>